.fullScreen {
  .innerPlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .seekBar {
    position: absolute;
    width: 100%;
    bottom: 48px;
  }

  .actionBar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  &[data-activated="true"] {
    .seekBar,
    .actionBar {
      opacity: 1;
    }
  }
  &[data-activated="false"] {
    .seekBar,
    .actionBar {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  .ngDashboard {
    bottom: calc(1rem + 48px) !important;
  }
}
