.fullScreenCommentBar {
  display: none;
}

[data-iphone="true"] {
  .fullScreenCommentBar {
    display: none !important;
  }
}

.fullScreen {
  .innerPlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .videoPlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .seekBar {
    position: absolute;
    width: 100%;
    bottom: 48px;
  }

  .actionBar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .fullScreenCommentBar {
    display: grid;
    position: absolute;
    left: 50%;
    bottom: 8px;
    @media (max-width: 1150px) {
      bottom: 64px;
      grid-template-columns: 4rem 50vw 4rem;
    }
    grid-template-columns: 6rem 30vw 4rem;
    transform: translateX(-50%);
    height: 32px;

    > * {
      padding: 0 0.5rem;
    }
  }

  &[data-activated="true"] {
    .seekBar,
    .actionBar {
      opacity: 1;
    }
  }
  &[data-activated="false"] {
    .seekBar,
    .actionBar {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
}
